/*-------------------------------------------------------------------------------------------------
*                                        DASHBOARD
/-------------------------------------------------------------------------------------------------*/

.dashboard_col_cards {
    box-sizing: border-box;
    color: #292321;
    display: block;
    flex-basis: 25%;
    flex-grow: 0;
    flex-shrink: 0;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    min-height: 1px;
    max-width: 25%;
    min-width: 1px;
    padding-left: 10px;
    padding-right: 5px;
    position: relative;
    text-align: center;
    text-size-adjust: 100%;
    width: 100%;
    -webkit-tap-highlight-color: rgba(0, 0 , 0, 0);
  }
  
  .dashboard_card {
    animation-delay: 0.3s;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: fadeInUpQuick;
    background-color:white;
    border-bottom-color: rgb(52, 152, 219);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-radius: 0;
    box-shadow: rgba(0, 0, 0, 0.16) 1px 2px 5px 0px, rgba(0, 0, 0, 0.12) 0px 2px 10px 0px;
    box-sizing: border-box;
    color: rgb(33, 38, 41);
    display: block;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    font-weight: 400;
    height: 450px;
    line-height: 24px;
    margin-bottom: 30px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 30px;
    position: relative;
    text-align: center;
    text-size-adjust: 100%;
    transition-delay: 0s;
    transition-property: all;
    transition-timing-function: linear;
    visibility: visible;
    width: 250px;
    -webkit-tap-highlight-color: rgba(0, 0 , 0, 0);
  }
  
  .dashboard_card_header {
    background-color: white;
    border-bottom-color: rgb(238, 238, 238);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 40px;
    text-align: center;
    text-size-adjust: 100%;
    transition-delay: 0s;
    transition-duration: 0.2s;
    transition-property: all;
    transition-timing-function: linear;
    visibility: visible;
    width: 100%;
    -webkit-tap-highlight-color: rgba(0, 0 , 0, 0);
  }

  .dashboard_card_header:hover {
    background-color: rgb(0, 123, 255);
    color: rgb(238, 238, 238);
    border: 2px solid;
    border-color:rgb(238, 238, 238);
  }
  
  .dashboard_card_header_a {
    background-color: rgba(0, 0 , 0, 0);
    box-sizing: border-box;
    color: rgb(68, 68, 68);
    cursor: pointer;
    display: inline;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    text-decoration-color: rgb(68, 68, 68);
    text-decoration-line: solid;
    text-size-adjust: 100%;
    transition-delay: 0s;
    transition-duration: 0.3s;
    transition-property: all;
    transition-timing-function: linear;
    visibility: visible;
    -webkit-tap-highlight-color: rgba(0, 0 , 0, 0);
  }
  
  .dashboard_card_header_title {
    box-sizing: border-box;
    color: rgb(0, 123, 255);
    cursor: pointer;
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 21.6px;
    margin-block-end: 0px;
    margin-block-start: 0px;
    margin-bottom: 0px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    margin-top: 0px;
    text-align: center;
    text-size-adjust: 100%;
    visibility: visible;
    -webkit-tap-highlight-color: rgba(0, 0 , 0, 0);
  }

  .dashboard_card_header_title:hover {
    color: rgb(238, 238, 238)
  }

  
  .dashboard_card_header_icon {
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    display: block;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    position: absolute;
    text-align: left;
    text-size-adjust: 100%;
    top: -25px;
    visibility: visible;
    width: 100%;
    -webkit-tap-highlight-color: rgba(0, 0 , 0, 0);
  }

  .dashboard_card_header_icon_a {
    background-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
    color: rgb(68, 68, 68);
    cursor: pointer;
    display: block;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    text-align: left ;
    text-decoration-color: rgb(68, 68, 68);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-size-adjust: 100%;
    transition-delay: 0s;
    transition-duration: 0.3s;
    transition-property: all;
    transition-timing-function: linear;
    visibility: visible;
    width: 100%;
    -webkit-tap-highlight-color: rgba(0, 0 , 0, 0);
  }

  .dashboard_card_header_icon_a_i {
    background-color: rgb(52, 152, 219);
    box-shadow: rgba(0, 0, 0, 0.25) 3px 6px 6px 0px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-block;
    font-size: 22px;
    font-style: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-weight: 400;
    height: 52px;
    line-height: 48px;
    text-align: center;
    text-size-adjust: 100%;
    text-transform: none;
    visibility: visible;
    width: 52px;
    -webkit-font-smoothing: antialised;
    -webkit-tap-highlight-color: rgba(0, 0 , 0, 0);
  }

  .dashboard_card_header_loading {
    text-align: center;
  }
  
  .dashboard_card_body {
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    display: block;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    text-size-adjust: 100%;
    visibility: visible;
    -webkit-tap-highlight-color: rgba(0, 0 , 0, 0);
  }
  
  .dashboard_card_body_ul {
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    display: block;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    list-style-type: disc;
    margin-block-end: 1em;
    margin-block-start: 1em;
    margin-bottom: 0px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-inline-start: 40px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    text-align: left;
    text-size-adjust: 100%;
    visibility: visible;
    -webkit-tap-highlight-color: rgba(0, 0 , 0, 0);
  }
  
  .dashboard_card_body_li {
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    display: list-item;
    float: left;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
    text-align: '-webkit-match-parent';
    text-size-adjust: 100%;
    visibility: visible;
    width:100%;
    -webkit-tap-highlight-color: rgba(0, 0 , 0, 0);
  }
  
  .dashboard_card_body_li_2 {
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    display: list-item;
    float: left;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    text-align: left;
    text-size-adjust: 100%;
    visibility: visible;
    width:100%;
    -webkit-tap-highlight-color: rgba(0, 0 , 0, 0);
  }
  
  .dashboard_card_body_li_count {
    box-sizing: border-box;
    color: rgb(136, 136, 136);
    float: right;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-right: 0px;
    text-align: left;
    text-size-adjust: 100%;
    visibility: visible;
    -webkit-tap-highlight-color: rgba(0, 0 , 0, 0);
  }
  
  .dashboard_card_body_li_count_2 {
    box-sizing: border-box;
    color: rgb(136, 136, 136);
    float: right;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-right: 10px;
    text-align: left;
    text-size-adjust: 100%;
    visibility: visible;
    -webkit-tap-highlight-color: rgba(0, 0 , 0, 0);
  }
