/*-------------------------------------------------------------------------------------------------
*                                            APP PAGES
/-------------------------------------------------------------------------------------------------*/

.page_container {
  box-sizing: border-box;
  color: rgb(153, 153, 153);
  display: block;
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  margin-left: 104.5px;
  margin-right: 104.5px;
  max-width: 1140px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: left;
  text-size-adjust: 100%;
  width: 1140px;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-tap-highlight-color: rgb(0, 0, 0 , 0);
}

.page_row {
  box-sizing: border-box;
  color: rgb(153, 153, 153);
  display:flex;
  flex-wrap: wrap;
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  margin-left: -15px;
  margin-right: -15px;
  text-align: left;
  text-size-adjust: 100%;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-tap-highlight-color: rgb(0, 0, 0 , 0);
}

.page_col_top {
  box-sizing: border-box;
  color: rgb(153, 153, 153);
  display: block;
  flex-basis: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  max-width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  text-align: center;
  text-size-adjust: 100%;
  width: 1140px;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-tap-highlight-color: rgb(0, 0, 0 , 0);
}

/*-------------------------------------------------------------------------------------------------
*                                           APP PAGES - HEADER
/-------------------------------------------------------------------------------------------------*/
.page_head {
  box-sizing: border-box;
  color: rgb(153, 153, 153);
  display: block;
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  margin-bottom: 40px;
  text-align: center;
  text-size-adjust: 100%;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-tap-highlight-color: rgb(0, 0, 0 , 0);
}

.page_head_title {
  box-sizing: border-box;
  color: rgb(51, 51, 51);
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 36px;
  margin-block-end: 8px;
  margin-block-start: 0px;
  margin-bottom: 8px;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
  margin-top: 30px;
  position: relative;
  text-align: center;
  text-size-adjust: 100%;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-tap-highlight-color: rgb(0, 0, 0 , 0);
}

.page_head_title:before{
  background-color: rgb(3, 169, 244);
  bottom: 16px;
  box-sizing: border-box;
  content: "";
  height: 3px;
  margin-left: -170px;
  position: absolute;
  width: 150px;
}

.page_head_title:after{
  background-color: rgb(3, 169, 244);
  bottom: 16px;
  box-sizing: border-box;
  content: "";
  height: 3px;
  margin-left: 20px;
  position: absolute;
  width: 150px;
}

/*-------------------------------------------------------------------------------------------------
*                                       APP PAGES - LIST OF ELEMENTS
/-------------------------------------------------------------------------------------------------*/
.page_col_list {
  box-sizing: border-box;
  color: rgb(0, 123, 255);
  display: block;
  flex-basis: 16.6667%;
  flex-grow: 0;
  flex-shrink: 0;
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  max-width: 16.6667%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  text-align: left;
  text-size-adjust: 100%;
  width: 190px;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-tap-highlight-color: rgb(0, 0, 0 , 0);
}

.page_list_div {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgb(4, 138 , 241);
  background-image: none;
  background-origin: padding-box;
  background-position-x: 0%;
  background-position-y: 0%;
  background-size: auto;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  box-sizing: border-box;
  color: rgb(253, 253, 253);
  cursor: pointer;
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-weight: bolder;
  height: 100px;
  line-height: 25px;
  margin-bottom: 15px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 15px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  text-align: center;
  text-size-adjust: 100%;
  transition-delay: 0s;
  transition-duration: 0.4s;
  transition-property: all;
  transition-timing-function: ease;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-tap-highlight-color: rgb(0, 0, 0 , 0);
}

.page_list_div:hover {
  background-color: rgb(253, 253, 253);
  color:rgb(4, 138 , 241);
  border-color: rgb(4, 138 , 241);
  border: 2px solid;
}

/*-------------------------------------------------------------------------------------------------
*                            APP PAGES - POP UP WITH INFO AFTER BUTTON CLICK
/-------------------------------------------------------------------------------------------------*/
.page_popup{
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgb(4, 138 , 241);
  background-image: none;
  background-origin: padding-box;
  background-position-x: 0%;
  background-position-y: 0%;
  background-size: auto;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 0px;
  box-sizing: border-box;
  color: rgb(51, 51, 51);
  display: block;
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  font-weight: 400;
  height: 50px;
  line-height: 20px;
  position: absolute;
  right: 0px;
  text-align: center;
  text-size-adjust: 100%;
  top: 25px;
  width: 60px;
  z-index: 1031;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgb(0, 0, 0 , 0);
}

.page_show_popup{
  box-sizing: border-box;
  color: rgb(51, 51, 51);
  display: block;
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  position: relative;
  text-align: center;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgb(0, 0, 0 , 0);
}

.page_show_popup_div {
  box-sizing: border-box;
  color: rgb(51, 51, 51);
  display: block;
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgb(0, 0, 0 , 0);
}

.pe-7s-plus, .pe-7s-look {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  display: inline-block;
  font-family: 'FontAwesome';
  font-size: 28px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 400;
  line-height: 28px;
  padding-top: 15px;
  text-align: center;
  text-rendering: auto;
  text-size-adjust: 100%;
  width: 44px;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgb(0, 0, 0 , 0);
}

.page_icone_popup:before {
  box-sizing: border-box;
  content: icon;
}

/*-------------------------------------------------------------------------------------------------
*                                APP PAGES - SPINNERS OF LOADINGS DATA
/-------------------------------------------------------------------------------------------------*/
.loading_spinner {
  left: 50%;
  margin-left: -4em;
}

/*-------------------------------------------------------------------------------------------------
*                                       APP PAGES - MODALS
/-------------------------------------------------------------------------------------------------*/
.app_modal {

}

.app_modal_header {
  background-color: rgb(0, 123, 255);
  height: 80px;
}

.app_modal_header_title {
  color: rgb(253, 253, 253);
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder !important;
  font-size: 18px !important;
  align-items: flex-start !important;
}

.app_modal_body {

}

.app_modal_footer {
  background-color: rgb(0, 123, 255);
  height: 80px;
}

.app_modal_footer_button {
  background-color: rgb(255, 255, 255) !important;
  color:rgb(5, 5, 5) !important;
  border-color: rgb(255, 255, 255) !important;
}

.app_modal_footer_button:hover {
  background-color: rgb(255, 255, 255) !important;
  color:rgb(5, 5, 5) !important;
  font-weight: bolder !important;
  border-color: rgb(5, 5, 5) !important;
}

.modal_form_label {
  font-size: 18px !important;
  font-weight: bolder !important;
}

.modal_form_field{
  border-color: rgb(5, 5, 5) !important;
}

/*-------------------------------------------------------------------------------------------------
*                                 APP PAGES - INFO ABOUT ELEMENTS LIST
/-------------------------------------------------------------------------------------------------*/
.info_elements {

}

.info_elements_title {
  font-size: 18px;
  font-weight: bolder;
  font-family: sans-serif;
}

.info_elements_body {

}

.info_elements_list {
  display: block;
  text-align: center;
  text-size-adjust: 100%;
  padding-bottom: 5px;
}

.info_elements_btn_checkbox {
  background-color: rgb(255, 255, 255) !important;
  border: 1px solid !important;
  border-color: rgb(5, 5, 5) !important;
  border-right: transparent !important;
}

.info_elements_btn_checkbox:hover {
  background-color: green !important;
}

.info_elements_btn {
  border-color: rgb(5, 5, 5) !important;
  background-color: rgb(255, 255, 255) !important;
  color:rgb(5, 5, 5) !important;
  font-size: 13px !important;
  width: 430px !important;
  height: max-content !important;
}

.info_elements_btn:hover {
  border-color: rgb(255, 255, 255) !important;
  background-color: rgb(0, 123, 255) !important;
  color:rgb(5, 5, 5) !important;
  font-weight: bolder !important;  
}

/*-------------------------------------------------------------------------------------------------
*                                     APP PAGES - BUTTONS
/-------------------------------------------------------------------------------------------------*/

/*---------------------GAMES-----------------------*/
.button_table_gamesToCasino{
  border-color: green !important;
  color: green !important;
  margin-left: 195px;
}

.button_table_gamesToCasino:hover{
  color: white !important;
  font-weight: bold !important;
  background-color: green !important;
}

/*---------------------MATHS-----------------------*/
.format:hover{
  background-color: rgb(0, 123, 255) !important;
  font-weight: bolder !important;
  color: rgb(255, 255, 255) !important;

}.filter_button{
  background-color:rgb(255, 255, 255)!important;
  color: rgb(0, 123, 255)   !important;
}

.filter_button:hover {
  background-color: rgb(0, 123, 255) !important;
  font-weight: bolder !important;
  color: rgb(255, 255, 255) !important;
}

/*---------------------PROVIDERS-----------------------*/
/*BUTTONS GROUP - EDIT AND DELETE*/
.buttons_edit_delete {
  height: 40px !important;
  margin-left: 365px !important;
}

.pe-7s-pen {
  background-color:rgb(255, 255, 255)  !important;
  border-color: rgb(255, 196, 0) !important;
  color: rgb(255, 196, 0) !important;
  font-weight: bolder !important;
}

.pe-7s-pen:hover {
  background-color: rgb(255, 196, 0) !important;
  color:rgb(255, 255, 255) !important;
  font-weight: bolder !important;
}

.pe-7s-trash {
  background-color: rgb(255, 255, 255) !important;
  border-color: rgb(255, 0, 0) !important;
  color: rgb(255, 0, 0)!important;
  font-weight: bolder !important;
  height: 40px;
  margin-left: 415px ;
}

.pe-7s-trash:hover {
  background-color: rgb(255, 0, 0) !important;
  color:rgb(255, 255, 255) !important;
  font-weight: bolder !important;
}

/*BUTTONS GROUP - RESET AND SAVE*/
.buttons_reset_save {
  height: 40px !important;
  margin-left: 348px !important;  
}

/*RESET*/
.pe-7s-file {
  background-color: rgb(255, 255, 255)  !important;
  border-color: rgb(0, 123, 255);
  color: rgba(0, 123, 255) !important;
  font-weight: bolder !important;
}
.pe-7s-file:hover {
  background-color: rgba(0, 123, 255) !important;
  color:rgb(255, 255, 255) !important;
  font-weight: bolder !important;
}

/*SAVE*/
.pe-7s-diskette {
  background-color: white !important;
  border-color: green !important;
  color: green !important;
  font-weight: bolder !important;
}
.pe-7s-diskette:hover {
  background-color: green !important;
  color:rgb(255, 255, 255) !important;
  font-weight: bolder !important;
}

.pe-7s-check {
  height: 40px !important;
  margin-left: 415px !important; 
  background-color: white !important;
  border-color: green !important;
  color: green !important;
  font-weight: bolder !important;
}

.pe-7s-check:hover {
  background-color: green !important;
  color:rgb(255, 255, 255) !important;
  font-weight: bolder !important;
}